.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;


  &.welcome {
    flex-direction: column;
    padding: 8px 50px;
  }
}

.slider {
  $dotSize: 1;
  $dotMargin: 0.5;

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dot {
    display: block;
    margin: 0 #{$dotMargin/3}em;
    width: #{$dotSize/2}em;
    height: #{$dotSize/2}em;
    background: rgba($color: #000000, $alpha: 0.1);
    border-radius: 100px;

    &.active {
      background-color: $greenPrimary;
    }
  }
}
